*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.sidebar{
    background: #fff;
    width: 15%;
    height: 90vh;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    top: 76px;
    /* padding-top: 20px; */
    padding-left: 1.5%;
    
}
.shortcut-links img{
    width: 30px;
    margin-right: 10px;
}
.side-link{
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.sidebar hr{
    border: 0;
    height: 1px;
    width: 85%;
    background-color: #ccc;
    margin-bottom: 10px;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px ;
    color: #5a5a5a;
}
.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}
@media(max-width:900px){
    .sidebar{
        display: none;
    }
}